{% extends "email/email_base.html" %}
{% load custom_tags %}

{% block title %}{% include 'userdb/email/new_registration_admin_subject.txt' %}{% endblock %}
{% block subject %}{% include 'userdb/email/new_registration_admin_subject.txt' %}{% endblock %}

{% block content %}
<p>User <strong>{{ user.first_name }}</strong> has just completed a new Team registration for <strong>{{ team.name }}</strong></p>

<p>Please log in at {% url 'admin:login' as admin_login_url %}{{ admin_login_url|absolute_url|urlize }} to action this request.</p>
{% endblock %}