{% extends "email/email_base.html" %}
{% load custom_tags %}

{% block title %}{% include 'userdb/email/password_reset_subject.txt' %}{% endblock %}
{% block subject %}{% include 'userdb/email/password_reset_subject.txt' %}{% endblock %}

{% block content %}
<p>We've received a password reset request for username: {{ user.username }}<p>
<p>Please follow the link below to reset your password:<br>
<span style="white-space: nowrap; font-size: 0.8em;">{% url 'user:password_reset_confirm' uidb64=uid token=token as reset_url %}{{ reset_url|absolute_url|urlize }}</span></p>
{% endblock %}