{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="The CLIMB project (Cloud Infrastructure for Microbial Bioinformatics) is a collaboration between Warwick, Birmingham, Cardiff and Swansea Universities to develop and deploy a world leading cyber-infrastructure for microbial bioinformatics; providing free cloud-based compute, storage, and analysis tools for academic microbiologists in the UK." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    
    <title>{% block title %}CLIMB | Cloud Infrastructure for Microbial Informatics{% endblock %}{% block title_suffix %}{% endblock %}</title>

    {# Global stylesheets #}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="has-navbar-fixed-top {% block body_extra_classes %}{% endblock %}">

    {% include "includes/top_menu.html" %}
  
    {% block content %}{% endblock %}

    {# Global javascript #}
    <script src="https://kit.fontawesome.com/1ba6dd17cf.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
