{% load static bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="The CLIMB project (Cloud Infrastructure for Microbial Bioinformatics) is a collaboration between Warwick, Birmingham, Cardiff and Swansea Universities to develop and deploy a world leading cyber-infrastructure for microbial bioinformatics; providing free cloud-based compute, storage, and analysis tools for academic microbiologists in the UK." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    
    <title>{% block title %}CLIMB | Cloud Infrastructure for Microbial Informatics{% endblock %}{% block title_suffix %}{% endblock %}</title>

    {# Global stylesheets #}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet">
    <link href="{% static 'css/brynweb.css' %}" rel="stylesheet">

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="site-body d-flex flex-column justify-content-between {% block body_class %}{% endblock %}">
    <div>
      {% include "includes/top_menu.html" %}

      <header class="site-header">
      <img src="/static/images/climb_logo.png" alt="CLIMB logo" class="header-logo d-none d-md-block">
      {% block full_jumbo %}{% endblock %}
      </header>
    
      <main class="site-content">{% block content %}{% endblock %}</main>
    </div>
    
    <footer class="site-footer">{% include "includes/footer.html" %}</footer>

    {# Global javascript #}
    {% bootstrap_javascript jquery='full' %}

    <script src="https://use.fontawesome.com/ab6fe5d3cc.js"></script>

    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
