{% extends "userdb/base_primary_card.html" %}

{% load static widget_tweaks %}

{% block card_column_size_classes %}is-full-tablet is-full-desktop is-two-thirds-widescreen{% endblock %}

{% block above_card %}
  <h1 class="title">User Registration</h1>
  <h2 class="subtitle">Sign up to join {{ to_team.name }}</h2>
{% endblock %}

{% block card_content %}
  <form method="post">
    {% csrf_token %}

    <div class="columns is-multiline">
      {% if form.non_field_errors %}
        <div class="column is-full">
          {% include 'includes/form_non_field_errors.html' with errors=form.non_field_errors %}
        </div>
      {% endif %}

      <div class="column is-half">
        <h3 class="title has-text-dark is-size-4">User details</h3>

        {% include "includes/form_field.html" with field=form.email fa_class="fas fa-envelope" only %}

        <div class="columns mb-0">
          <div class="column is-half">
            {% include "includes/form_field.html" with field=form.first_name only %} 
          </div>
          <div class="column is-half">
            {% include "includes/form_field.html" with field=form.last_name only %} 
          </div>
        </div>
        {% include "includes/form_field.html" with field=form.username fa_class="fas fa-user" only %}
        <div class="columns">
          <div class="column is-half">
            {% include "includes/form_field.html" with field=form.password1 fa_class="fas fa-lock" only %}
          </div>
          <div class="column is-half">
            {% include "includes/form_field.html" with field=form.password2 fa_class="fas fa-lock" only %}
          </div>
        </div>
      </div>

      <div class="column is-half">
        <h3 class="title has-text-dark is-size-4">Terms and Conditions</h3>
        <div class="box content" style="max-height: 300px; overflow-y: auto;">
          {% include "userdb/register_terms.html" %}
        </div>
        <p class="ml-5">
          <label class="checkbox">
            {{ form.agree_terms }}
            {{ form.agree_terms.label }}
          </label>
        </p>
      </div>

      <div class="column is-full">
        <div class="field">
          <div class="control">
            <button id="submit_btn" type="submit" class="button is-success is-medium is-fullwidth">
              Register
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>
{% endblock %}

{% block below_card %}
  <p class="mt-4 has-text-centered">
    <strong>Already have an account?</strong><br>
    <a class="has-text-link-light" href="{{ login_url }}">Sign in here to accept your invite</a>
  </p>
{% endblock %}
            
{% block extra_js %}
  <script type="module">
    // Yes, only supported on 90%+ of browsers but not essential for page to function
    import CheckboxFormGuard from "{% static 'js/CheckboxFormGuard.js' %}";

    document.addEventListener("DOMContentLoaded", function(){
      new CheckboxFormGuard("id_agree_terms", "submit_btn");
    });
  </script>
{% endblock %}