{% extends "home/base.html" %}
{% load static %}

{% block content %}
  <section class="hero is-primary is-primary-gradient is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">

        <div class="columns is-centered">
          <div class="column is-two-thirds-tablet is-half-desktop is-one-third-widescreen">

            {% block above_card %}{% endblock %}

            <div class="card">
              <div class="card-content">

                {% block card_content %}{% endblock %}

              </div>
            </div>

            {% block below_card %}{% endblock %}

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}