{% extends "userdb/base_primary_card.html" %}

{% load widget_tweaks %}

{% block above_card %}
  <h1 class="title logo-header">Bryn</h1>
  <h2 class="subtitle">The CLIMB management web interface</h2>
{% endblock %}

{% block card_content %}
  <form method="post">
    {% csrf_token %}

    {% include 'includes/form_non_field_errors.html' with errors=form.non_field_errors %}

    {% include 'includes/form_field.html' with field=form.username|attr:'placeholder:Username'|add_class:'is-medium' fa_class="fas fa-user" hide_label="True" only %}
    {% include 'includes/form_field.html' with field=form.password|attr:'placeholder:Password'|add_class:'is-medium' fa_class="fas fa-lock" hide_label="True" only %}
    
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-success is-medium is-fullwidth">
          Login
        </button>
      </div>
    </div>

  </form>
{% endblock %}

{% block below_card %}
  <p class="mt-4 has-text-centered">
    <a class="has-text-link-light" href="{% url 'user:password_reset' %}">Forgot your password?</a>
  </p>
{% endblock %}
            
{% block body_extra_classes %}hide-navbar-logo{% endblock %}