{% extends "userdb/base_primary_card.html" %}

{% block above_card %}
  <h1 class="title">Reset your password</h1>
{% endblock %}

{% block card_content %}
  {% if validlink %}
    <div class="content is-medium">
      <p>At least 8 characters, one letter and one number.</p>
    </div>

    <form method="post">
      {% csrf_token %}

      {% include 'includes/form_non_field_errors.html' with errors=form.non_field_errors %}

      <div class="field">
        <label for="password1" class="is-sr-only">New password</label>
        <div class="control has-icons-left">
          <input
            id="password1"
            name="{{ form.new_password1.html_name }}"
            class="input is-medium"
            type="password"
            placeholder="New password"
            required
          >
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        {% include 'includes/form_field_errors.html' with errors=form.new_password1.errors %}
      </div>

      <div class="field">
        <label for="password2" class="is-sr-only">Confirm new password</label>
        <div class="control has-icons-left">
          <input
            id="password2"
            name="{{ form.new_password2.html_name }}"
            class="input is-medium"
            type="password"
            placeholder="Confirm new password"
            required
          >
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        {% include 'includes/form_field_errors.html' with errors=form.new_password2.errors %}
      </div>

      <div class="field">
        <p class="control">
          <button type="submit" class="button is-success is-medium is-fullwidth">
            Reset password
          </button>
        </p>
      </div>
    </form>
  {% else %}
    <p><i class="fa fa-exclamation-triangle fa-4x text-danger"></i></p>
    <p>This new_password1 reset link is no longer valid.</p>
    <p>You may wish to <a href="{% url 'user:password_reset' %}">request a new reset link.</a></p>
  {% endif %}
{% endblock %}
