{% extends "userdb/base_primary_card.html" %}

{% load widget_tweaks %}

{% block above_card %}
  <h1 class="title">Reset your password</h1>
{% endblock %}

{% block card_content %}
  <article class="message is-dark">
    <div class="message-body">
      We'll send you a link to reset your password, along with a reminder of your username.
    </div>
  </article>

  <form method="post">
    {% csrf_token %}

    {% include 'includes/form_non_field_errors.html' with errors=form.non_field_errors %}
    {% include 'includes/form_field.html' with field=form.email|attr:'placeholder:Email address'|add_class:'is-medium' fa_class="fas fa-envelope" hide_label="True" only %}

    <div class="field">
      <p class="control">
        <button type="submit" class="button is-success is-medium is-fullwidth">
          Get your reset email
        </button>
      </p>
    </div>
  </form>
{% endblock %}