{% extends "userdb/base_primary_card.html" %}

{% load widget_tweaks %}

{% block above_card %}
  <h1 class="title">Reset your password</h1>
{% endblock %}

{% block card_content %}
  {% if validlink %}
    <div class="content is-medium">
      <p>Please enter a new password.</p>
    </div>

    <form method="post">
      {% csrf_token %}

      {% include 'includes/form_non_field_errors.html' with errors=form.non_field_errors %}

      {% include 'includes/form_field.html' with field=form.new_password1|attr:'placeholder:New password'|add_class:'is-medium' fa_class="fas fa-lock" hide_label="True" only %}
      {% include 'includes/form_field.html' with field=form.new_password2|attr:'placeholder:Confirm new password'|add_class:'is-medium' fa_class="fas fa-lock" hide_label="True" only %}

      <div class="field">
        <p class="control">
          <button type="submit" class="button is-success is-medium is-fullwidth">
            Reset password
          </button>
        </p>
      </div>
    </form>
  {% else %}
    <p>This password reset link is no longer valid.</p>
    <p>You may wish to <a href="{% url 'user:password_reset' %}">request a new reset link.</a></p>
  {% endif %}
{% endblock %}
