{% extends "userdb/base_primary_card.html" %}

{% block above_card %}
  <h1 class="title">
    <span class="icon mr-2">
      <i class="fas fa-check"></i>
    </span>
    Thanks for registering
  </h1>
{% endblock %}

{% block card_content %}
  <div class="content is-medium">
    <h4 class="subtitle has-text-dark">What happens now?</h4>
    <p>First, please confirm your email address using the activation link that we've sent you.</p>
    <p>We'll be in touch again soon once your account has been approved.</p>
  </div>
{% endblock %}
