<p><strong>CLIMB-BIG-DATA</strong></p>
<p><strong>Terms and conditions for users of our cloud-computing infrastructure</strong></p>
<p><em>Version 1.0: valid from May 1, 2020</em></p>
<p><em>Written by Mark Pallen</em></p>
<p>Please read this document before using CLIMB-BIG-DATA. If you disagree with these policies, you and your team cannot use CLIMB-BIG-DATA. If you or your team use CLIMB-BIG-DATA, you are assumed to agree with these policies.</p>
<p><strong>Cross-institutional responsibilities</strong> . By using CLIMB-BIG-DATA, you are using computational resources under the responsibility of your own employer (the hardware and network used to log on) and systems hosted by our partner institutions. In doing so, you are therefore bound by the acceptable use, security and data management policies of all the institutions involved in this process. In other words, you should not be doing anything on our infrastructure that is not permitted by your own institutional policies.</p>
<p><strong>Licences</strong> . We grant licences for access to two kinds of users:</p>
<ul>
<li>
<p><strong>Primary users</strong> , who are those with salaried positions in UK academic institutions, government agencies or healthcare systems who have the status of independent researchers and/or team leaders. These users must hold a “<a href="http://ac.uk" rel="nofollow noopener">ac.uk</a>”, “<a href="http://gov.uk" rel="nofollow noopener">gov.uk</a>” or “<a href="http://nhs.uk" rel="nofollow noopener">nhs.uk</a>” email account.</p>
</li>
<li>
<p><strong>Secondary users</strong>  are those working under the direction of primary users who include students, post-doctoral researchers and overseas collaborators.</p>
</li>
</ul>
<p>Researchers without the relevant email credentials can use CLIMB-BIG-DATA as secondary users but only if working in collaboration with an accredited primary user, who remains responsible for them. Users in industry should contact us to discuss terms and conditions for industrial users.</p>
<p>Licences must be renewed every three months. If a primary user neglects to renew their licence, their VMs will be shelved at the end of the existing licence and will be terminated if the licence has not been removed within the ensuing three months. CLIMB-BIG-DATA takes no responsibility for any data loss or other adverse consequences of failure of a user to renew their licence.</p>
<p><strong>Primary users</strong>  must</p>
<ul>
<li>
<p>register for research group accounts at <a href="https://bryn.climb.ac.uk/" rel="nofollow noopener">https://bryn.climb.ac.uk</a> and can then nominate secondary users from their own groups to be given access to VMs and any other resources on the system.</p>
</li>
<li>
<p>take responsibility for the behaviour of secondary users they have nominated</p>
</li>
<li>
<p>ensure that VMs and volumes that are no longer in use are shelved and or terminated</p>
</li>
<li>
<p>agree that the CLIMB-BIG-DATA management team can hold contact details for themselves and associated secondary users.</p>
</li>
<li>
<p>renew their licence for access to CLIMB-BIG-DATA every three months</p>
</li>
<li>
<p>keep the CLIMB-BIG-DATA management team updated with contact details for themselves and associated secondary users</p>
</li>
<li>
<p>inform the CLIMB-BIG-DATA management team should they cease to be eligible to be primary users (e.g. through retirement or a move to a post in industry or overseas)</p>
</li>
<li>
<p>inform the CLIMB-BIG-DATA management team whenever secondary users leave their teams and so lose access to VMs (e.g. when post-docs switch jobs or PhD students complete their thesis)</p>
</li>
</ul>
<p><strong>Security</strong> . The CLIMB-BIG-DATA system gives users high-level access to computational resources that are interest to criminals.  When you use Bryn to launch a GVL VM, we force you to use a strong password for the ubuntu account. <strong>Do NOT change this to a weak password</strong>, as we have experienced multiple security breaches because users have used weak passwords, which put our whole infrastructure at risk. We reserve the right to sanction users who engage in this kind of reckless behaviour by banning them from the service and informing their own IT security staff. Please make it clear to everyone in your team that this is unacceptable behaviour.</p>
<p>If you do have to change a password, make sure that the password is strong, kept secret and is changed if you suspect it has been compromised. Sharing passwords outside your own research group is forbidden. Advice on how to set a strong password is available here:</p>
<ul>
<li><a href="https://www.ncsc.gov.uk/collection/top-tips-for-staying-secure-online/use-a-strong-and-separate-password-for-email" rel="nofollow noopener">https://www.ncsc.gov.uk/collection/top-tips-for-staying-secure-online/use-a-strong-and-separate-password-for-email</a></li>
<li><a href="https://blog.avast.com/strong-password-ideas" rel="nofollow noopener">https://blog.avast.com/strong-password-ideas</a></li>
</ul>
<p>For VMs that do not use GVL, please keep accounts secure by using SSH keys. Instructions on how to set up SSH keys can be found on the Discourse web site:</p>
<ul>
<li><a href="https://discourse.climb.ac.uk/t/generating-an-ssh-key-on-a-mac-or-on-windows/51" class="inline-onebox">Generating an SSH key on a Mac or on Windows</a></li>
</ul>
<p><strong>Loss of data.</strong>  We have a system that is designed for resilience and to survive many of the issues that could result in data loss. However, we cannot guarantee to maintain your data and take no responsibility for loss of data and any consequences that flow from this. We do not backup your data. It is up to you to ensure that your data is backed up elsewhere.</p>
<p><strong>Acceptable Use.</strong> CLIMB-BIG-DATA is a system that is designed and funded to support microbiology research and clinical practice. If your proposed activities fall outside this remit, then you should not make use of CLIMB without seeking consent from the management team.</p>
<p>Activities clearly unacceptable on CLIMB-BIG-DATA include (but are not limited to) hacking, hosting of illicit or illegal media and bitcoin mining. If such activities are detected, we will contact the police and/or employers to initiate legal or disciplinary proceedings.</p>
<p><strong>Clinical Data.</strong>  Storing patient identifiable data on the system is unacceptable. We cannot provide a guarantee that our security is sufficiently rigorous to store patient data. If you disregard this information and store patient identifiable data on the system, you are in breach of the terms of use of the system and any adverse consequences are wholly your responsibility.</p>
<p><strong>Use of the Discourse Facility.</strong>  CLIMB-BIG-DATA has no helpdesk. Instead users can find guidance and post problems at <a href="https://discourse.climb.ac.uk/">https://discourse.climb.ac.uk</a> which provides tutorials and enables peer-to-peer provision of useful advice and troubleshooting. In using this facility, users agree not to make posts that are irrelevant to the CLIMB-BIG-DATA project or to engage in defamatory or offensive language.</p>
<p><strong>Sanctions.</strong>  Minor breaches of these policies will result in a warning, assuming users accept responsibility for preventing recurrences. Where the breach is substantial or behaviour judged reckless, we reserve the right to ban a user and their group temporarily or permanently and to make a complaint to the user’s line manager.</p>
<p>CLIMB-BIG-DATA takes no responsibility for any damage (financial or reputational) caused by sanctions invoked by a failure to abide by the policies outlined below.</p>
<p><strong>Contact</strong>  <strong>for all CLIMB-BIG-DATA queries</strong> <strong>:</strong>  <strong><a href="mailto:Lisa.marchioretto@quadram.ac.uk">Lisa.marchioretto@quadram.ac.uk</a></strong></p>