{% extends "home/base.html" %}
{% load static widget_tweaks %}

{% block content %}
  <section class="hero is-primary is-primary-gradient is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">

        <div class="columns is-centered">
          <div class="column is-full-tablet is-full-desktop is-three-quarters-widescreen">

            <h1 class="title">Team registration</h1>

            <!-- Tiles -->
            <div class="tile is-ancestor">
              <div class="tile is-5 is-vertical is-parent">
                <div class="tile is-child notification is-success content">
                  <p class="subtitle has-text-weight-semibold">Primary users</p>
                  <p>Those with salaried positions in UK academic institutions, government agencies or healthcare systems who have the status of independent researchers and/or team leaders.</p>
                  <p class="has-text-weight-semibold">You're in the right place! Once you've registered and have been approved, you can invite secondary users.</p>
                </div>
                <div class="tile is-child notification is-info content">
                  <p class="subtitle has-text-weight-semibold">Secondary users</p>
                  <p>Those working under the direction of primary users who include students, post-doctoral researchers and overseas collaborators.</p>
                  <p class="has-text-weight-semibold">You'll need to ask your team's primary user to send you an invitation before you can register.</p>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <p class="title has-text-dark is-size-4">Terms and Conditions</p>

                  <div class="box content" style="max-height: 30vh; overflow-y: auto;">
                    {% include "userdb/register_terms.html" %}
                  </div>

                  <div class="content">                    
                    <form method="post">
                      {% csrf_token %}
                      <p class="ml-5">
                        {% for field in form %}
                          <label class="checkbox">
                            {{ field }}
                            {{ field.label }}
                          </label>
                        {% endfor %}
                      </p>

                      <div class="field">
                        <div class="control">
                          <button id="continue_btn" type="submit" class="button is-success is-medium is-fullwidth" disabled>
                            Continue to registration
                          </button>
                        </div>
                      </div>
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- END tiles -->

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  <script>
    function setContinueBtnStatus() {
      const termsChecked = document.getElementById("id_agree_terms").checked;
      const primaryUserChecked = document.getElementById("id_is_primary_user").checked;
      const btn = document.getElementById("continue_btn");
      
      if (termsChecked && primaryUserChecked) {
        btn.removeAttribute("disabled");
      } else {
        btn.setAttribute("disabled", true);
        btn.focus();
      }
    }

    document.addEventListener("DOMContentLoaded", function(){
      document.getElementById("id_agree_terms").addEventListener("click", setContinueBtnStatus);
      document.getElementById("id_is_primary_user").addEventListener("click", setContinueBtnStatus);
    });
  </script>
{% endblock %}