{% load static %}

<div class="container">
  <div class="columns is-vcentered">
    <div class="column has-text-white">
      <p>COPYRIGHT &copy; {% now "Y" %} - CLIMB. ALL RIGHTS RESERVED.</p>
      <p>
        <a href="http://www.climb.ac.uk/terms-conditions/" class="has-text-link-light">
          Terms & Conditions
        </a>
        <a href="http://www.climb.ac.uk/privacy-cookie-policy/" class="has-text-link-light ml-2">
          Privacy Policy
        </a>
      </p>
    </div>
    <div class="column is-hidden-touch">
      {% include "includes/institution_logos.html" %}
    </div>
  </div>
</div>