{% load static %}

<div class="columns is-vcentered">
  <div class="column has-text-centered">
    <a href="http://www.swansea.ac.uk/">
      <img src="{% static 'images/footer-su-logo.png' %}" alt="Swansea University">
    </a>
  </div>
  
  
  <div class="column has-text-centered">
    <a href="http://www.birmingham.ac.uk/index.aspx">
      <img src="{% static 'images/footer-birmingham-logo.png' %}" alt="University of Birmingham">
    </a>
  </div>
  <div class="column has-text-centered">
    <a href="https://le.ac.uk/">
      <img src="{% static 'images/footer-leicester-logo.png' %}" alt="University of Leicester">
    </a>
  </div>
  <div class="column has-text-centered">
    <a href="http://www.bath.ac.uk/">
      <img src="{% static 'images/footer-bath-logo.png' %}" alt="University of Bath">
    </a>
  </div>
</div>

<div class="columns is-vcentered">
  <div class="column has-text-centered">
    <a href="http://www2.warwick.ac.uk/">
      <img src="{% static 'images/footer-warwick-logo.png' %}" alt="The University of Warwick">
    </a>
  </div>
  <div class="column has-text-centered">
    <a href="https://quadram.ac.uk/">
      <img src="{% static 'images/footer-quadram-logo.png' %}" alt="The Quadram Institute">
    </a>
  </div>
  <div class="column has-text-centered">
    <a href="http://www.cardiff.ac.uk/">
      <img src="{% static 'images/footer-cardiff-logo.png' %}" alt="Cardiff University">
    </a>
  </div>
</div>