
{% extends "admin/base.html" %}
 {% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}"><img src="{% static 'images/climb_logo.png' %}" alt="logo" style="width: 90px; display: inline; margin-right: 15px;" />
    {{ site_header|default:_('Django administration') }}</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}