<table class="table instances-table my-4">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Created</th>
      <th scope="col">Flavor</th>
      <th scope="col">Status</th>
      <th scope="col">IP address</th>
      <th scope="col"><button class="btn btn-info btn-instances-refresh" data-team-action="refresh"><i class="fa fa-refresh"></i> Refresh</button></th>
    </tr>
  </thead>
  <tbody>
    {% for i in t.instances %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.created }}</td>
      <td>
        {% if i.flavor == "climb.group" %}
          <i class="fa fa-users text-success"></i>
        {% elif i.flavor == "climb.user" %}
          <i class="fa fa-user text-info"></i>
        {% endif %}
        {{ i.flavor }}
      </td>
      <td>{{ i.status|title }}</td>
      <td><a href="http://{{ i.ip }}" target="_blank">{{ i.ip }}</a></td>

      <td class="text-right">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            Options
          </button>
          <div class="dropdown-menu instance-actions-list">
            {% if i.status == 'SHUTOFF' %}
              <a class="dropdown-item" href="{% url 'home:start' t.pk i.id %}"><span class="text-success">Start</span></a>
            {% elif i.status == 'SHELVED_OFFLOADED' %}
              <a class="dropdown-item" href="{% url 'home:unshelve' t.pk i.id %}"><span class="text-success">Unshelve</span></a>
            {% else %}
              <a class="dropdown-item" href="{% url 'home:stop' t.pk i.id %}">Stop</a></li>
              <li><a class="dropdown-item" href="{% url 'home:reboot' t.pk i.id %}">Reboot</a></li>
            {% endif %}
            <a class="dropdown-item" href="{% url 'home:terminate' t.pk i.id %}" onclick="return false;"><span class="text-danger">Terminate</span></a>
          </div>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
