@charset "utf-8";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

@import "~bulma/sass/utilities/initial-variables";

// Brand colors
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;
$crumsonUA: #9d2a37;

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$primary: $charcoal;
$warning: $sandy-brown;
$success: $persian-green;
$danger: $crumsonUA;

// Update component variables
$navbar-item-color: $white;
$navbar-background-color: $grey-darker;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $black-ter;

$footer-background-color: $white-ter;
$footer-padding: 3rem 1.5rem;

$dropdown-item-active-background-color: $persian-green;

@import "~bulma/bulma";

// Page layout, sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#dashboardApp {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.page-content {
  flex: 1 0 100%;
}

// Header
.logo-header {
  font-family: "Bungee", sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.is-primary-gradient {
  background-color: #264653;
  background-image: linear-gradient(0deg, #264653 0%, #363636 100%);
}

.hide-navbar-logo .navbar .logo-header {
  display: none;
}
