@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
// Base colors
$white: #fff;

// Brand colors
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$primary: $charcoal;
$warning: $orange-yellow-crayola;
$success: $persian-green;
$danger: $burnt-sienna;

// Update component variables
$navbar-item-color: $white;

$footer-background-color: $charcoal;
$footer-padding: 3rem 1.5rem;

@import "~bulma/bulma";

// Page layout
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1 0 auto;
}

// Header
.logo-header {
  font-family: "Bungee", sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
